/* ==========================================================================
   2. General
   ========================================================================== */

body.landing {
  padding: 0;
  height: 100vh;
  background-image: url("/images/cuatro_torres.jpg");
  background-size: cover;
  background-position: 65%;
}

main#landing {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hide;
  scroll-snap-type: y mandatory;
}

.landing-section {
  display: flex;
  flex-shrink: 0;
  scroll-snap-align: start;
  height: 100%;
  align-items: center;
  justify-content: center;

}

.landing-section h1 {
  font-family: serif;
  font-size: clamp(24pt, 2vw, 50vw);
  text-color: white;
  color: white;

  @media (orientation: landscape) {
    font-size: clamp(24pt, 10vw, 50vw);
  }

  @media (orientation: portrait) {
    font-size: clamp(24pt, 2vw, 50vw);
 }
}

footer.landing {
    position: fixed;
    bottom: 1em;
    left: 1em;
    color: white;
}

