/* ==========================================================================
   2. General
   ========================================================================== */

#landing {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  background: #2f2f2f;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.landing-section {
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  align-content: center;
}


.main-section {
  font-family: serif;
  font-size: 100pt;
  text-align: center;
  text-color: white;
  color: white;

  @media only screen and (max-width: 600px) {
    font-size: 85pt;
    letter-spacing: normal;
  }
}

body {
    padding: 0
}
