/* ==========================================================================
   2. General
   ========================================================================== */

#landing {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100vh;
  background: #2f2f2f;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.landing-section {
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: start;
  font-size: 100pt;
  text-align: center;
  align-content: center;
  text-color: white;
}


.main-section {
  font-family: serif;
  color: white;
}

body {
    padding: 0
}
